@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.ginga {
  /* background-image: url("../img/haikei/mori.jpg"); */
  background-image: url("../img/haikei/daisizen.jpg");
  background-size: cover;
}


body.tao {
  background-image: url("../img/haikei/hamabe.jpg");
  background-size: cover;
}


body.zipper {
  background-image: url("../img/haikei/hosizora.jpg");
  background-size: cover;
}

img {
  object-fit: contain;
}

.ginga h1 {
  color: #fff;
  -webkit-text-stroke: 1px rgb(99, 152, 173);
}

.tao h1 {
  color: #eee;
  -webkit-text-stroke: 1.5px rgb(177, 84, 92);
}

.zipper h1{
  padding: 32px 0;
  /* background: rgba(150, 150, 150, 0.5); */
  color: #ffffff;
  -webkit-text-stroke: 1px rgb(33, 112, 112);

}

h1 {
  padding: 39px 0;
  background: rgba(200, 200, 200, 0);
  text-align: center;
  /* color: #fff; */
}

h1 img {
  border-radius: 50%;
  margin-right: 8px;
}

h2 {
  font-size: 18px;
  line-height: 1.8;
}

p {
  margin-top: 8px;
  line-height: 1.8;
}

main{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 32px);
  max-width: 950px;
  margin: 64px auto;
  gap: 24px;
  /* outline: 4px solid red; */
}

/* 
-------------
--Personal---
-------------
*/

.personal {
  width: calc((100% - 24px) / 2);
  height: 100%;
  padding: 8px;
  background-color: rgb(68, 78, 78);
  color: #fff;
  box-shadow: 0 0 6px #333;
  border-radius: 8px;
}

.up {
  display: flex;
  align-items: center;
}

.up img {
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 8px;
}


/* ------------------
-------個人-------
------------------ */
.rei {
  color: #333;
  background-color: rgb(207, 255, 215);
}

.seven {
  color: black;
  background-color: rgb(253, 222, 183);
  font-size: 18px;
}

.bankoran {
  /* color: red; */
  color: #dddddd;
  background-color: rgb(106, 150, 150);
}

.subaru {
  background-color: rgb(228, 88, 63);
}

.parurun {
  background-color: antiquewhite;
  color: #333;
}

.coco {
  background-color: rgb(0, 204, 204);
}

/* 
-----------
---footer--
-----------
*/

footer {
  margin-top: 64px;
  padding: 64px 0;
  text-align: center;
  background: #333;
  color: #fff;
}


/* 
-------------
-midium-size-
-------------
*/

@media (max-width:580px) {
  main {
    display: inline;
  }

  .personal {
    width: 100%;
    margin: 16px 0px;
  }
}

/* 
--------------
-large-size---
--------------
 */

@media (min-width:829px) {
  .personal {
    width: calc((100% - 48px) / 3);
  }
}